{% extends "web/base.html" %}
{% load static %}

{% block title %}
    <title>Test page</title>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="errornote">
                <span id="note"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 main_form rounded-top">
                <form method='post' action="" enctype="multipart/form-data"> {% csrf_token %}
                    {{ form.as_p }}
                    <button type='submit' id="submit_btn" class="btn btn-primary">Ok</button>
                </form>
            </div>
        </div>
    </div>
    <!-- jquery  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/add_patient.js' %}"></script>
{% endblock %}